label
{
    vertical-align: middle;
}

tabbox
{
    margin-left: 10px;
    margin-right: 10px;
}

.num-cell
{
    text-align: right;
}

#fooddiary-food-group
{
    min-width: 600px;
}

#fooddiary-exercise-group
{
    min-width: 100px;
}